header {
  background: #1DE900;
}
header.app-header.navbar {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 0px;
}

.center-text > a {
    color: #000000 !important;
    font-weight: 600;
}


.center-text{ background-color: #1DE900;  text-align:center; margin-left:13em !important;}

.dropdown #dropdownMenuButton.btn.btn-secondary.dropdown-toggle {
    background: #d4d5d1 none repeat scroll 0 0;
    border: medium none #d4d5d1;
    color: #555555;
}
.center-text > .navbar-brand{ padding: 0px; }
.dropdown.show {
    background: #d3d3d3 none repeat scroll 0 0;
    /* overflow: hidden; */
}


.navbar-route {
    /* width: 55%; */
}
.navbar-route > a {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    padding: 0 5px;
}
.navbar-route {
    display: inline-block;
    margin: 5px 5px;
    vertical-align: bottom;
}
#header-dropdown{
background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f7f7f7 0%, #d5d5d5 50%, #d5d5d5 51%, #d5d5d5 100%) repeat scroll 0 0;
border-color: #d5d5d5;
color: #000000;
padding: 5px;
width: 135px;
}
#header-dropdown > option {
    background: #ffffff none repeat scroll 0 0;
}
/* media screen */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    header.app-header.navbar { width:100% !important; }
}
