<header class="app-header navbar" [ngStyle]="{'background-color':defaultEnvironmentColor}">
  <div class="col-md-12">
    <div class="row">
      <select disabled="disabled" class="form-control ng-pristine ng-valid ng-touched" id="header-dropdown" name="transferType">
        <option  *ngFor="let item of environmentData">{{ item.name }}</option>
        </select>
      <div class="navbar-route">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/mainscreen">Main Screen</a>
      </div>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <img src="../../assets/images/OnlineHelp.png" alt="online-help">
          <img *ngIf="global.localStorageItem('tour') == '0'" src="../../assets/images/42.png" alt="Guided Help" (click)="onStartTour()">
          <img *ngIf="global.localStorageItem('tour') == '1'" src="../../assets/images/42.png" alt="Guided Help" (click)="onEndTour()">
        </li>
      </ul>
  </div>
    </div>
</header>