<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <router-outlet></router-outlet>
   </div>
 </div>
</div>
<tour-step-template style="padding: 0.3rem;z-index:999999999">
 <div class="btn-arrow-up"></div>
 <ng-template let-step="step" style="padding: 2rem">
   <p class="tour-step-content">{{step?.content | translate}}</p>
   <div class="tour-step-navigation text-center">
     <button class="btn btn-sm btn-default" *ngIf="step.isClickable==true" (click)="onContinue(step.anchorId,step.stepId)">Continue</button>
     <button class="btn btn-sm btn-default" (click)="onCancel()">Cancel</button>
   </div>
 </ng-template>
</tour-step-template>
