
.row.align-content-row {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}
/*.container.view-row .row > div {
    font-size: 17px;
    font-weight: 800;
}*/
.row.align-content-row1 {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
}

.col-2.gu-1 {
    /* background: #feff00 none repeat scroll 0 0; */
    color: #999e6b;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.center-text {
    background: #1de900 none repeat scroll 0 0;
    color: #000000 !important;
}
.center-text .navbar-brand {
    color: #000000;
}

.underline-content {
    color: #0809d7;
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    /*font-weight: 600;*/
}
.underline-content-task-lifted {
    font-size: 25px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.underline-content-qtytogo {
    font-size: 25px;
    font-weight: 400;
    display: block;
}
.time-opcode {
    background: #ffff57 none repeat scroll 0 0;
    float: right;
    padding: 0px 20px 10px 20px;
    text-align: right;
}

.imaging-with-perf {
    /*float: right;*/
    display: block;
    text-align: right;
}
.container.view-row1 .row.second-rowns > div {
    border: 1px solid #cccccc;
}

.right-content {
    float: right;
}
.qty {
    background: #30cf2e none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}
.qty > span {
    background: #2ab429 none repeat scroll 0 0;
    padding: 1px 10px;
    font-weight: 600;
}

.col-2.gu-2 {
    /* background: #1de800 none repeat scroll 0 0; */
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

header.app-header.navbar {
    padding: 0;
}

.underline-content.blocks {
    display: block;
    text-align: center;
    /*margin-right: 40px;*/
}

.gu-container .row > div {
    border: 1px solid #cccccc;
}
.container.main-content-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cccccc #cccccc #cccccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    /* min-height: 267px; */
    border: 1px solid #ccc !important;
}
.col-4.tim{ padding-right: 0px !important;  }

.qty {
    margin-top: 36px;
}

footer .row > div {
    margin-left: 20px;
     margin-top: 20px;
}

.row.view-containers {
    padding: 10px 0;
}
.gu-container .row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.btn-view {
    width: 90px;
    line-height: 30px;
    padding-bottom: 5px;
}
.row.second-rowns > div {
    margin-bottom: 15px;
    /* margin-right: 15px; */
}

.percent {
    display: inline-block;
    float: right;
}
.digit-percent {
    border: 1px solid #ccc !important;
    display: inline-block;
    vertical-align: bottom;
    width: 100px;
}
.loading-percent {
    background: #eeeeee none repeat scroll 0 0;
    display: block;
    float: left;
    height: 25px;
    width: 65px !important;
}
.row.second-rowns > div {
    margin-right: 15px;
}
.col-2.waste {
    margin-left: 30px;
}

header.app-header.navbar {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    width: 1140px;
}

.row.view-containers > div {
    font-size: 30px;
    font-weight: 600;
}

.row.second-rowns div:last-child {
    border: medium none !important;
}
.border-none{
	border: none !important;
}
/* .col-2.waste{ padding-left: 40px !important; } */
.noup{text-align: right;}
.imaging-with-perf {
    padding-right: 10px;
    font-size: 12px;
}

.span-gu-2 {
    font-size: 30px;
    font-weight: 600;
}
.col-2, .col-4, .col-1, .col-3{ font-weight: 600; }
.gu-container {border-top: 1px solid #000000;}
.thous-content{ font-size: 25px; }
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    height: 56%;
  }
  .navbar-brand{ line-height: 0.3 !important; vertical-align: top;}
  .job-ticket{ text-align: center; }
/*media screen*/
@media only screen and (min-width: 640px) and (max-width: 1023px){
	.col-1.border-none {
    display: none;
}
footer .col-sm-9{ max-width:13% !important;  }
	body .container {
    max-width: 100% !important;
    padding: 0 !important;
}
.row.view-containers[_ngcontent-c2] > div[_ngcontent-c2] { font-size: 20px; }
}
.tour {
  background-color: #eeeeee;
}
.active {
    /* background:  #1de800 none repeat scroll 0 0; */
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.idle {
    /* background: #feff00 none repeat scroll 0 0; */
    color: #999e6b;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
.operator-bg {
    background-color: red;
}
.progress {
    margin-top: 3em;
}
.thumbnail {
    bottom: 0;
    position: fixed;
}
.view-row {
    z-index: 1059;
}