<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<div class="main-screen-wrapper">
<div class="gu-container card" [ngClass]="global.localStorageItem('tourClass')" >
	<div class="row">
    <div class="col-2" [style.background-color]="activeResourceOpCodeBg.toLowerCase()" ngClass="{{r1}}" (click)="onStartAt($event,activeResourceId,r1)" (blur)="onResourceChange(activeResourceId,r1)" data-step-id="31" tourAnchor="primaryresource" translate>
	  	<span class="span-gu-2">{{activeResource}}</span><br>{{activeResourceOpCode}}</div>
	    <div class="col-4 tim"><div class="2-rows-align"><span (click)="onStartAt($event)" data-step-id="13" tourAnchor="opcode" translate>MainScreenLabels.OpCode</span><span class="time-opcode">{{ runhour }}h {{ runmin }}min</span></div>
	    <div><span class="underline-content" (click)="onStartAt($event)" data-step-id="16" tourAnchor="running">{{ opCodeTypeName }}</span> <span class="imaging-with-perf">{{configDescription}}</span></div>
		</div>
	   <div class="col-3" ngClass={{operatorBg}}><span translate>MainScreenLabels.Operator</span><span class="underline-content blocks" (click)="onStartAt($event)" data-step-id="14" tourAnchor="operator">{{ operator }}</span></div>
	   <div *ngIf="CurrentEventModel.assistants != 0;else assistant" class="col-1"><span translate>MainScreenLabels.Assets</span> <span class="underline-content blocks" (click)="onStartAt($event)" data-step-id="15" tourAnchor="assets" >{{ CurrentEventModel.assistants}}</span></div>
     <template #assistant>
      <div class="col-1"><span translate>MainScreenLabels.Assets</span> <span class="underline-content-task-lifted" (click)="onStartAt($event)" data-step-id="28" tourAnchor="assets0">{{ CurrentEventModel.assistants}}</span></div>
     </template>
     <div class="col-2" [style.background-color]="idleResourceOpCodeBg.toLowerCase()" (click)="onStartAt($event,idleResourceId,r2)" data-step-id="32" tourAnchor="secondaryresource" (blur)="onResourceChange(idleResourceId,r2)" ngClass="{{r2}}"><span class="span-gu-2">{{idleResource}}</span><br><span translate>{{idleResourceOpCode}}</span></div>
  </div>
  <div class="row">
      <div id="primaryresource" (click)="onResourceChange(activeResourceId,r1)" style="visibility:none;"></div>
      <div id="secondaryresource" (click)="onResourceChange(idleResourceId,r2)" style="visibility:none;"></div>   
  </div>
</div>
<div class="container view-row1">
	<div class="row align-content-row1">
		  <div class="col-3" translate>MainScreenLabels.PlannedQty</div>
		  <div class="col-3" translate>MainScreenLabels.QtyToGo</div>
		  <div class="col-2 waste" translate>MainScreenLabels.Waste</div>
		  <div class="col-3" (click)="onStartAt($event)" data-step-id="20" tourAnchor="wipandproducedqty" translate>MainScreenLabels.WIPAndProducedQty</div>
		</div>
	<div class="row second-rowns" [ngClass]="global.localStorageItem('tourClass')">
	  <div class="col-3"><span class="thous-content" (click)="onStartAt($event)" data-step-id="17" tourAnchor="plannedqty">{{ TaskModel.plannedCopies/TaskModel.noUp }}</span><br><span class="right-content">{{TaskModel.plannedCopies }} pcs</span></div>
	  <div class="col-3" *ngIf="TaskModel.qtyToGo != 0;else qtytogo"><span class="underline-content" (click)="onStartAt($event)" data-step-id="18" tourAnchor="qtytogo">{{TaskModel.qtyToGo/TaskModel.noUp }}</span><br><span class="right-content">{{TaskModel.qtyToGo }} pcs</span></div>
    <template #qtytogo>
      <div class="col-3"><span class="underline-content-qtytogo" (click)="onStartAt($event)" data-step-id="29" tourAnchor="qtytogo0">{{TaskModel.qtyToGo }}</span><br><span class="right-content">{{TaskModel.qtyToGo*TaskModel.noUp }} pcs</span></div>
    </template>
    <div class="col-2" *ngIf="TaskModel.wasteCopies!=0;else wastecopies"><span class="underline-content" (click)="onStartAt($event)" data-step-id="19" tourAnchor="waste">{{ TaskModel.wasteCopies/TaskModel.noUp }}</span><br><span class="right-content">{{TaskModel.wasteCopies}} pcs</span></div>
    <template #wastecopies>
      <div class="col-2"><span class="underline-content-qtytogo" (click)="onStartAt($event)" data-step-id="30" tourAnchor="waste0">{{ TaskModel.wasteCopies }}</span><br><span class="right-content">{{TaskModel.wasteCopies*TaskModel.noUp}} pcs</span></div>
    </template>
    <div class="col-3">
        <div class="progress">
            <div class="progress-bar" [style.width]="plannedQtyPercent" [style.background-color]="(plannedQtyNumber < 95) ? 'green' : 'red'"
             role="progressbar" aria-valuenow="plannedQtyNumber" aria-valuemin="0" aria-valuemax="100">{{plannedQtyNumber}}%</div>
        </div>
    </div>
  </div>
</div>  
<div class="container view-row" [ngClass]="global.localStorageItem('tourClass')">
		<div class="row align-content-row">
		  <div class="col-4" translate>MainScreenLabels.JobNo</div>
		  <div class="col-2" translate>MainScreenLabels.Company</div>
		  <div class="col-2" translate>MainScreenLabels.Title</div>
		  <div class="col-2 noup" translate>MainScreenLabels.NoUp</div>
		  <div class="col-2 job-ticket" (click)="onStartAt($event)" data-step-id="24" tourAnchor="jobticket" translate>MainScreenLabels.JobTicket</div>
		</div>
  	<div class="row view-containers">
	  <div class="col-4" (click)="onStartAt($event)" data-step-id="27" tourAnchor="jobno">{{TaskModel.subJobNo}}</div>
	  <div class="col-2" (click)="onStartAt($event)" data-step-id="21" tourAnchor="company">{{TaskModel.company}}</div>
	  <div class="col-2" (click)="onStartAt($event)" data-step-id="22" tourAnchor="title">{{TaskModel.taskName}}</div>
	  <div class="col-2 noup" (click)="onStartAt($event)" data-step-id="23" tourAnchor="noup">{{TaskModel.noUp}}</div>
	  <div class="col-2 job-ticket"><button [disabled]="TaskModel.taskStatus == 'Lifted'" id="btnview" (blur)="onViewBlur()" class="btn-view" type="submit" (click)="onStartAt($event)" data-step-id="26" tourAnchor="btnview" translate>MainScreenLabels.btnView</button></div>
	</div>
</div>
<!-- main container -->
<div class="container main-content-container" [ngClass]="global.localStorageItem('tourClass')">

</div>
<!-- ENd main container -->
<!-- Footer section start -->
<footer [ngClass]="global.localStorageItem('tourClass')">
	<div class="container">
    <div class="row">
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="33" tourAnchor="createwipicon" src="../../assets/images/CreateWIP.svg" class="img-responsive img-rounded" alt="createwip">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="34" tourAnchor="consumewipicon" src="../../assets/images/ConsumeWIP.svg" class="img-responsive img-rounded" alt="consumewip">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a aria-disabled="true" class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="35" tourAnchor="searchwipicon" src="../../assets/images/SearchWIP.svg" class="img-responsive img-rounded" alt="searchwip">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail"><!--pull-left routerLink="/Notes" -->
             <img (click)="onStartAt($event)" data-step-id="36" tourAnchor="notesicon" src="../../assets/images/notes.svg" class="img-responsive img-rounded" alt="noteswip">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="37" tourAnchor="stopicon" src="../../assets/images/EndLiftjob.svg" class="img-responsive img-rounded" alt="endlift">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="38" tourAnchor="joblisticon" src="../../assets/images/joblist.svg" class="img-responsive img-rounded" alt="joblist">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="39" tourAnchor="consumerawmaterialicon" src="../../assets/images/RawMaterials.svg" class="img-responsive img-rounded" alt="raw-material">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail">
             <img (click)="onStartAt($event)" data-step-id="40" tourAnchor="changelanguageicon" src="../../assets/images/language.svg" class="img-responsive img-rounded" alt="languagemode">
        </a>
        </div>
        <div class="col-lg-1 col-sm-9 col-xs-9"> <a class="thumbnail"><!-- routerLink="/adminmode"-->
             <img (click)="onStartAt($event)" data-step-id="41" tourAnchor="adminicon" src="../../assets/images/AdminMode.svg" class="img-responsive img-rounded" alt="adminmode">
        </a>
        </div>
        </div>
    </div>
</footer>
<!-- End footer section -->
</div>
