.popover-header {
  font-size: 1rem!important;
  font-weight: 400!important;
  padding: 0.50rem;
  background: #ECEEEF !important;
  padding: 5px!important;
}
.popover-body {
  padding: 0.3rem !important;
}
.container .row .col-md-12{  padding: 0px !important; }
.container{ max-width: 100% !important; }

#ng2-opd-popup-main.container.ng2-opd-popup-content-main {
  position: fixed;
  top: 200px;
}
.main-wrapper-opcode > .row {
  padding: 0 15px;
}
@media only screen and (min-width: 640px) and (max-width: 1220px){

}

@media only screen and (min-width: 640px) and (max-width: 1220px){

}

.tour {
  background-color: #eeeeee;
}
.greybg {
  background-color:red;
}
